//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft end-user
// license agreement (EULA) under which you licensed this SOFTWARE PRODUCT.
// If you did not accept the terms of the EULA, you are not authorized to use
// this source code. For a copy of the EULA, please see the LICENSE.RTF on your
// install media.
//
#if 0
#endif

//Microsoft Developer Studio generated resource script.
//
#include "resource.h"
#include "windows.h"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON           ICON    DISCARDABLE     "main.ico"
IDI_MAIN2_ICON          ICON    DISCARDABLE     "main2.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CLOSE_SIP	"&Hide Input Panel"
    IDS_TIP			"SipPanel"
END

