/////////////////////////////////////////////////////////////////////////////
//
// Data
//

IDM_MAIN_MENU SHMENUBAR DISCARDABLE 
BEGIN
    0, 2,
    I_IMAGENONE, IDM_VIEW_TEST, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE, IDS_MAIN_MENUITEM1, 0, NOMENU,
    I_IMAGENONE, IDM_MAIN_MENUITEM2, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE, IDS_MAIN_MENUITEM2, 0, NOMENU,
END
